
@{
    ViewBag.Title = "Credits";
}
<div class="box">
    @*<h2 class="text-center">Credits</h2>*@
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center">Thank You For Visiting Tyler's Discount Music</h2>
            <p style="width:70%; margin:10px auto;">
                Unfortunetely this is not a real store, but only a way to display my dedication, and skills and assets within Application Development.
                I hope that you enjoyed the shop and found it easily navigable.  A goal of mine is to build applications in a team oriented environment, and I will
                be a benefit to any team.
            </p>
            <div style="width:75%; margin:10px auto;">
                <div class="video-container"><iframe src="https://www.youtube.com/embed/ZBd0MnKb7u0" frameborder="0" allowfullscreen></iframe></div>
            </div>



            <p style="width:70%; margin:10px auto;">
                Above is a youtube video that helped me with alot of the code I used to establish the shopping cart functionality of the music store.
                After my data was brought in with Entity Framework, this video served as a great reference for building out needed classes to support my application.
            </p>
        </div>
        <div class="col-lg-12">
            <div class="text-center">
                <a href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/sorting-filtering-and-paging-with-the-entity-framework-in-an-asp-net-mvc-application" target="_blank">
                    <img src="~/Content/SortingPaging.jpg" style="width:75%;" />
                </a>

            </div>
            <p style="width:70%; margin:10px auto;">
                When I was building out my views of the the specific products, I discovered that in a tile view the height of the webpage would grow with the number of entries.  I needed server side paging to stop this issue,
                and this article provides a great example of server-side sorting and paging in C#.
            </p>

        </div>
    </div>
</div>

<div class="box">

    <h2 class="text-center">A special thank you to the technologies that I used</h2>
    <div class="row">
        <div class="col-xs-4"><img style="width:90%; margin:0 auto;" src="~/Content/CreditLogos/MVCLogo.png" /></div>
        <div class="col-xs-4"><img style="width:70%; margin:0 auto;" src="~/Content/CreditLogos/sql.png" /></div>
        <div class="col-xs-4"><img style="width:60%; margin:0 auto;" src="~/Content/CreditLogos/VisualStudioLogo.png" /></div>
        <div class="col-xs-4"><img style="width:90%; margin:0 auto;" src="~/Content/CreditLogos/AllLogos.png" /></div>
        <div class="col-xs-4"><img style="width:30%; margin:0 auto;" src="~/Content/CreditLogos/ph.png" /></div>
        <div class="col-xs-4"><img style="width:50%; margin:0 auto;" src="~/Content/CreditLogos/CSharpLogo.png" /></div>
    </div>
</div>


